<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contatos</ion-title>
  </ion-navbar>
  <div class="aviso-app"></div>
</ion-header>

<ion-content>
  <ion-card *ngFor="let contato of contatos" [hidden]="contato.telefones.length == 0">
    <ion-grid>
      <ion-row>
        <ion-col class="titulo-contato">
          <h3 text-center class="text-bold">{{contato.descricao}}</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-33 center>
          <img [src]="contato.banner"/>
        </ion-col>
        <ion-col>
          <ion-item *ngFor="let telefone of contato.telefones">
            <ion-icon name="call" item-left></ion-icon>
            {{telefone.numero}}
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
