<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Leitura</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="leituras.length > 0">
    <ion-item>
      <ion-label>Filtro de Leitura</ion-label>
      <ion-select [(ngModel)]="filtroLeitura" (ionChange)="atualizaGrafico()" cancelText="Fechar">
        <ion-option value="3h">3 Horas</ion-option>
        <ion-option value="6h">6 Horas</ion-option>
        <ion-option value="9h">9 Horas</ion-option>
        <ion-option value="12h">12 Horas</ion-option>
      </ion-select>
    </ion-item>
    <canvas baseChart width="400" height="400" *ngIf="leituras.length > 0"
                  [datasets]="graficoDados"
                  [labels]="graficoLabel"
                  [options]="graficoConfiguracoes"
                  lengend="true"
                  chartType="line">
    </canvas>
    <hr>
  </div>
</ion-content>
