<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Leitura</ion-title>
  </ion-navbar>
  <div class="aviso-app"></div>
</ion-header>

<ion-content>
  <ion-card *ngFor="let ponto of pontos" [hidden]="ponto.sensores.length == 0">
    <button ion-item class="card-header-title" (click)="detalhaPontoLeitura(ponto);">
      <ion-icon name="analytics" item-left></ion-icon>
      <h2>{{ponto.nome}}</h2>
      <p>{{ponto.endereco}}</p>
    </button>
    <button *ngFor="let sensor of ponto.sensores " ion-item class="tabulacao" (click)="mostraSensorHistorico(sensor);">
      <ion-icon name="stats" item-left></ion-icon>
      <h2>{{sensor.nomeSensor}}</h2>
      <p>12.2 m - 16/10/2016 23:59:00</p>
    </button>
  </ion-card>
</ion-content>
